
[submodule "narragansett_boat_club"]
	path = src/narragansett_boat_club
	url = https://github.com/rownbc/bladepaint
	update = rebase
	branch = master
	fetchRecurseSubmodules = true
	ignore = dirty
	shallow = true
